*{
  box-sizing: border-box;
  font-family: inherit;
}
.hero{
  background-color: #f5f5f5;
}


.grilla{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.card-hero{
  height: 400px;
  border: none;
}
.cart{
  width: 200px;
}
.cart-item{
  height: 200px;
}
.card-hero img{
  height: 300px;
  filter: saturate(200%);
}



.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media(max-width: 990px){
    .cart img{
      width: 300px;
      height: 300px;
    }
  }




  .card__a {
    width: 300px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details__a {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button__a {
    transform: translate(-50%, 125%);
    text-decoration: none;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body__a {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title__a {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card__a:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card__a:hover .card-button__a {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

  .btn2 {
    font-size: 18px;
    text-decoration: none;
    color: #414141;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .btn2:focus,
  .btn2:hover {
    color: #000000;
  }
  
  .btn2:focus:after,
  .btn2:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .btn2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  @media (max-width: 770px) {
    .hero-text div h5{
      font-size: 1.3rem;
    }
    .cart{
      flex-direction: column;
    }
    .cart>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    .cart>div>img{
      width: 300px;
      height: 300px;
    } 
    .cart div button{
      margin-bottom: 10px;
    }
    .grilla{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media(max-width:400px){
    .botones{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .botones .btn{
      width: 300px;
      margin: 5px;
    }

  }

  